* {
	box-sizing: border-box;
    margin: 0;
}

body {
	font-family: Arial, sans-serif;
    background-color: #cccccc;
}

header {
    background-color: #120323;
    display: grid;
    justify-items: center;
    color: #97bf04;
    gap: 1rem;
}

nav, footer {
    background-color: #d9043d;
    width: 100%;
    margin:0;
    padding: 1rem 0;
    display:flex;
    justify-content: center;
}

nav li{
    list-style-type:none;
    display:inline;
    margin-right: 1.5rem;
}

nav li:last-of-type{
    margin-right:0;
}

nav li a{
    color:white;
    text-decoration:none;
}

nav li a:hover{
    color:#120323;
    text-decoration:underline;
}

h2{
    text-align: center;
    margin: 1rem;;
}

#gallery-container{
    margin: 1rem;
    display: grid;
    grid-template-columns:
    1fr 1fr 1fr;
    gap: 3rem;
}

figure {
    background-color: white;
    padding: 1rem;
    width: 100%;
}

figure img{
    width: 100%;
    height: auto;
    border-bottom: solid .5rem #97bf04;
}

figcaption{
    display: grid;
    row-gap: 1rem;
    padding: 1rem 0;
}

footer{
    color: white;
}