* {
	box-sizing: border-box;
    margin: 0;
}

body {
	font-family: Arial, sans-serif;
    background-color: #cccccc;
}

/*----------HEADER-----------*/

header {
    background-color: #120323;
    display: grid;
    color: #97bf04;
    gap: 1rem;
    text-align: center;
}

/*----------NAVIGATION AND FOOTER-----------*/

nav, footer {
    background-color: #d9043d;
    width: 100%;
    margin: auto;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
}

nav li{
    list-style-type: none;
    margin: 0 1rem;
}

nav li a{
    color:white;
    text-decoration:none;
}

nav li a:hover{
    color:#120323;
    text-decoration:underline;
}

footer{
    color: white;
}

/*----------MAIN-----------*/

h2{
    text-align: center;
    margin: 1rem;;
}

#gallery-container{
    margin: 1rem;
    display: grid;
    grid-template-columns:
    1fr 1fr 1fr;
    gap: 3rem;
}

figure {
    background-color: white;
    padding: 1rem;
}

figure img{
    width: 100%;
    height: auto;
    border-bottom: solid 10px #97bf04;
    max-width: 650px;   
    display: block;
    margin: auto;
}

figcaption{
    display: grid;
    row-gap: 1rem;
    padding: 1rem 0;
}

figure:last-of-type{
    grid-column: span 2;
}

/*----------RESPONSIVE LAYOUT-----------*/

@media screen and (max-width:1000px){
    #gallery-container{
        grid-template-columns:
        1fr 1fr;
    }
}

@media screen and (max-width:768px){
    nav{
        background-color: transparent;
    }
    nav ul{
        display: grid;
        grid-template-columns: 1fr;
        width: 95%;
        height: auto;
        row-gap: 1em;
        justify-content: center;
    }
    nav li {
        width: 100%;
        margin: auto;
    }
    nav li a{
        display: block;
        padding: 1rem;
        background-color: #d9043d;
        color: white;
        text-align: center;
        text-decoration: none;
        border: 2px solid #97bf04; 
        width: 100%;
    }
    #gallery-container{
        grid-template-columns:
        1fr;
    }
    #gallery-container figure:last-of-type {
        grid-column: auto;
    }
}